.releaseWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    gap:20px;
}


.releaseWrapper img{
    min-height: 0;
    max-height: 100%;
}

.releaseWrapper p{
    border:3px solid var(--text-color);
    padding:10px;

    
}

.releaseWrapper p:hover{
    color: var(--alt-text-color);
    border:3px solid var(--text-color);
    background-color: var(--alt-background-color);
    padding:10px;

}